*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #343132;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f2f2f2;
}
.section{
    float:left;
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.input-text{
    float: left;

}
.input-group{
    float: left;
    width: 100%;
    margin: 15px 0;
}